#sidebar {
    width: 276px;
    height: 692px;
    background: #1e2124;
    border: 2px solid var(--sp-border-color);
    border-radius: 10px;
    float: right;
}
.stock-tab {
    display: flex;
}

.vertical-pair {
    width: 33.33%;
}
.mini-chart {
    width: 33.33%;
}
.left-side {
    float: left;
}
.right-side {
    float: right;
}
.new-list {
    display: flex;
    justify-content: space-between;
}
