/* TODO Add site wide styles */
* {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-color: black;
    color: white;
    --sp-border-color: rgb(64, 73, 78);
}
#app {
    width: 1024px;
    height: 100%;
    /* background-color: coral; */
    margin: auto;
    background-color: black;
    color: white;
}
#logged-out-app {
    background-color: white;
}
input {
    border: 1px solid white;
    border-radius: 5px;
    border: 1px solid var(--sp-border-color);
}
