/* Account menu styling starts here */
#nav-component {
  background-color: black;
  color: white;
}
#nav-component input {
  background-color: black;
}
.profile-dropdown {
  position: absolute;
  background-color: rgb(30,33,36);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 150px;
  height: 150px;
}
.profile-dropdown li {
  margin: auto;
  background-color: none;
}
#nav {
  /* background-color: coral; */
  height:64px;
  display: flex;
  justify-content: space-around;
}

.divider {
  width: 25%;
}
